<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="trans_mc_cmd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <trans_mc_cmd.Properties.Settings>
            <setting name="TechsiteMySQLconnectionString" serializeAs="String">
                <value>Driver={MySQL ODBC 3.51 Driver};database=techsite_cfg;server=10.100.104.22;uid=techsite;pwd=;port=3306</value>
            </setting>
            <setting name="accessPart" serializeAs="String">
                <value>xXi9N8pfMrJ9/NeFs/00Cw==</value>
            </setting>
            <setting name="accessKey" serializeAs="String">
                <value>asfd9</value>
            </setting>
            <setting name="Modes_Centre_Service_Host_Name" serializeAs="String">
                <value>ne1843</value>
            </setting>
        </trans_mc_cmd.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
