<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="ServiceSettings" type="ConfigSectionServiceSettings, ConfigSectionServiceSettings"/>
    </configSections>
  <appSettings>
    <add key="NameEndPointServices" value="EndPointServiceTransModesTerminale;EndPointServiceTransModesCentre" />
  </appSettings>
  <ServiceSettings>
    <services cassembly="" tassebly="">
        <add contract="StatisticTrans.Contract.ModesTerminale.IServiceModesTerminale" cassembly="StatisticTrans.dll" type="STrans.Service.ModesTerminale.ServiceModesTerminale" tassembly="STrans.Service.dll"  nameendpoint="EndPointServiceTransModesTerminale" />
        <add contract="StatisticTrans.Contract.ModesCentre.IServiceModesCentre" cassembly="StatisticTrans.dll" type="STrans.Service.ModesCentre.ServiceModesCentre" tassembly="STrans.Service.dll" nameendpoint="EndPointServiceTransModesCentre" />
    </services>
</ServiceSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="bindingTransModesTerminale" />
        <binding name="bindingTransModesCentre" />
      </wsDualHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="behaviorTransModesTerminale">
          <callbackDebug includeExceptionDetailInFaults="true" />
          <callbackTimeouts />
        </behavior>
        <behavior name="behaviorTransModesCentre">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:8734/STrans.Service/ServiceModesTerminale"
        behaviorConfiguration="behaviorTransModesTerminale" binding="wsDualHttpBinding"
        bindingConfiguration="bindingTransModesTerminale" contract="StatisticTrans.Contract.ModesTerminale.IServiceModesTerminale"
        name="EndPointServiceTransModesTerminale" kind="" endpointConfiguration="" />
      <endpoint address="http://localhost:8733/STrans.Service/ServiceModesCentre"
        behaviorConfiguration="behaviorTransModesCentre" binding="wsDualHttpBinding"
        bindingConfiguration="bindingTransModesCentre" contract="StatisticTrans.Contract.ModesCentre.IServiceModesCentre"
        name="EndPointServiceTransModesCentre" />
    </client>
  </system.serviceModel>
</configuration>
